<% if user.image.attached? %>
  <%= image_tag user.image.variant(:small), class: "rounded-full", data: { title: user.title } %>
<% else %>
  <img src="https://placehold.co/40x40" alt="<%= user.title %>" class="rounded-full">
<% end %>
