<%= turbo_frame_tag comment do %>
  <div class="flex items-start mb-4">
    <%= render "users/shared/avatar", user: comment.user %>
    <div class="ml-2">
      <span class="font-semibold"><%= comment.user.title %></span>
      <p class="text-gray-600"><%= simple_format(comment.body) %></p>
      <span class="text-gray-500 text-sm">Date: <%= l(comment.updated_at, format: :short) %></span>
    </div>
  </div>
<% end %>
