<% comment = local_assigns[:comment].presence || @audio.comments.build(user: current_user) %>
<%= turbo_frame_tag comment do %>
  <%= form_with(model: [current_user, @audio, comment]) do |form| %>
    <%= render "application/form_error", record: comment %>

    <div class="flex items-center">
      <%= render "users/shared/avatar", user: current_user %>
      <%= form.text_field :body, autofocus: local_assigns[:comment].presence, placeholder: "Add a comment...", class: "flex-1 ml-2 p-2 border rounded" %>
      <button class="bg-blue-500 text-white p-2 rounded hover:bg-blue-400 ml-2">Post</button>
    </div>
  <% end %>
<% end %>
