<h2 class="text-xl font-bold mb-4">Sign In</h2>
<div class="bg-white p-4 rounded shadow hover:shadow-lg transition-shadow">
  <%= form_for(User.new, url: user_session_path, html: { data: { turbo: false }}) do |f| %>
    <%= render "application/form_error", record: resource %>

    <div class="mb-4">
      <%= f.label :email, class: "block text-gray-700 mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full p-2 border rounded", placeholder: "Enter your email" %>
    </div>
    <div class="mb-4">
      <%= f.label :password, class: "block text-gray-700 mb-2" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "w-full p-2 border rounded", placeholder: "Enter your password" %>
    </div>
    <div class="flex items-center justify-between mb-4">
      <%= f.label :remember_me, class: "flex items-center" do %>
        <%= f.check_box :remember_me, class: "form-checkbox" %>
        <span class="ml-2 text-gray-700">Remember me</span>
      <% end %>
      <%= link_to "Forgot Password?", new_user_password_path, class: "text-blue-500 hover:underline" %>
    </div>
    <%= f.submit "Log in", class: "w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-400" %>
  <% end %>
  <p class="mt-4 text-center text-gray-700">
    Don't have an account? <%= link_to "Sign up", new_user_registration_path, class: "text-blue-500 hover:underline" %>
  </p>
</div>
