<%= link_to(user_playlist_path(@user, playlist), class: "block") do %>
  <article class="bg-white p-4 rounded shadow hover:shadow-lg transition-shadow">
    <div class="flex items-center mb-4">
      <% if playlist.image.attached? %>
        <%= image_tag playlist.image.variant(:thumb), class: "mr-4", data: { title: playlist.title } %>
      <% else %>
        <img src="https://placehold.co/100x100" alt="<%= playlist.title %>" class="mr-4">
      <% end %>
      <div>
        <h3 class="font-bold text-lg"><%= playlist.title %></h3>
        <span>Audios: <%= playlist.audios_count %></span>
      </div>
    </div>
  </article>
<% end %>
