<%= render "users/users/profile" %>

<div class="space-y-4" id="playlists">
  <%= render partial: "playlists/playlists/playlist", collection: @playlist %>
</div>

<%= turbo_frame_tag "pagination", src: user_playlists_path(user_id: @user, format: :turbo_stream, page: 2), loading: :lazy %>
