<%= turbo_stream.append "playlists" do %>
  <%= render @playlists %>
<% end %>
<% if @pagy.next.present? %>
  <%= turbo_stream.replace "pagination" do %>
    <%= turbo_frame_tag "pagination", src: user_playlists_path(user_id: @user, page: @pagy.next, format: :turbo_stream), loading: :lazy %>
  <% end %>
<% end %>
