<article class="bg-white p-6 rounded-lg shadow-lg mb-4 flex">
  <% if @playlist.image.attached? %>
    <%= image_tag @playlist.image.variant(:cover), class: "w-64 h-64 object-cover rounded pr-4", data: { title: @playlist.title } %>
  <% else %>
    <img src="https://placehold.co/400x400" alt="Post Image" class="w-64 h-64 object-cover rounded pr-4">
  <% end %>
  <div class="flex-1">
    <h2 class="text-xl font-bold mb-2"><%= @playlist.title %></h2>
    <div class="flex items-center justify-between mb-4">
      <span class="text-gray-600">
        Posted by <%= link_to(@playlist.user.title, @playlist.user, class: "text-blue-500 hover:underline") %>
        <%= render "shared/time", time: @playlist.created_at %>
      </span>
    </div>
    <p class="text-gray-700 mb-4"><%= simple_format(@playlist.description, {}, { sanitize_options: { attributes: %w[target href] } }) %></p>
    <% if user_signed_in? && @playlist.user == current_user %>
      <div class="flex items-center justify-between mb-4">
        <%= link_to "Edit", edit_user_playlist_path(@user, @playlist), class: "text-blue-500 hover:underline" %>
      </div>
      <% unless @playlist.locked? %>
        <div class="flex items-center justify-between mb-4">
          <%= button_to "Delete this playlist", @playlist, data: { turbo_confirm: "Are your sure?" }, method: :delete, class: "text-blue-500 hover:underline" %>
        </div>
      <% end %>
    <% end %>
  </div>
</article>
<div class="flex justify-between mb-4">
  <h2 class="text-xl font-bold"><%= @playlist.title %>'s audios</h2>
</div>
<%= turbo_frame_tag(@playlist, "audios", class: "space-y-4") do %>
  <%= render partial: "audios/audios/audio", collection: @playlist.audios %>
<% end %>
