<h2 class="text-xl font-bold mb-4">Edit your profile</h2>
<div class="bg-white p-4 rounded shadow hover:shadow-lg transition-shadow">
  <%= form_for(resource, url: user_registration_path, html: { method: :put, data: { turbo: false } }) do |f| %>
    <%= render "application/form_error", record: resource %>

    <div class="mb-4">
      <%= f.label :email, class: "block text-gray-700 mb-2" %>
      <%= f.email_field :email, autocomplete: "email", class: "w-full p-2 border rounded", placeholder: "Enter your email" %>
    </div>
    <div class="mb-4">
      <%= f.label :password, class: "block text-gray-700 mb-2" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "w-full p-2 border rounded", placeholder: "Change your password" %>
    </div>
    <div class="mb-4">
      <%= f.label :title, class: "block text-gray-700 mb-2" %>
      <%= f.text_field :title, class: "w-full p-2 border rounded", placeholder: "Enter your display name" %>
    </div>
    <div class="mb-4">
      <%= f.label :slug, "Profile URL to https://talawa.fm/XXX", class: "block text-gray-700 mb-2" %>
      <%= f.text_field :slug, class: "w-full p-2 border rounded", placeholder: "Enter your username" %>
    </div>
    <div class="mb-4">
      <%= f.label :description, class: "block text-gray-700 mb-2" %>
      <%= f.text_area :description, class: "w-full p-2 border rounded", placeholder: "Text shown on your profile" %>
    </div>
    <div class="mb-4">
      <%= f.label :location, class: "block text-gray-700 mb-2" %>
      <%= f.text_field :location, class: "w-full p-2 border rounded", placeholder: "Enter your location" %>
    </div>
    <div class="mb-4">
      <%= render "users/shared/avatar", user: current_user %>
      <%= f.label :image, class: "block text-gray-700 mb-2" %>
      <%= f.file_field :image, class: "w-full p-2 border rounded", accept: "image/*" %>
    </div>
    <%= f.submit "Update", class: "w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-400" %>
  <% end %>
  <p class="mt-4 text-center text-gray-700">
    Unhappy? <%= button_to "Delete my account", user_registration_path, data: { confirm: "Are you sure?", turbo: false }, method: :delete, class: "text-blue-500 hover:underline inline" %>
  </p>
</div>
