<h2 class="text-xl font-bold mb-4">Sign Up</h2>
<div class="bg-white p-4 rounded shadow hover:shadow-lg transition-shadow">
  <%= form_for(resource, url: user_registration_path, html: { data: { turbo: false }}) do |f| %>
    <%= render "application/form_error", record: resource %>

    <div class="mb-4">
      <%= f.label :email, class: "block text-gray-700 mb-2" %>
      <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", class: "w-full p-2 border rounded", placeholder: "Enter your email" %>
    </div>
    <div class="mb-4">
      <%= f.label :password, class: "block text-gray-700 mb-2" %>
      <%= f.password_field :password, class: "w-full p-2 border rounded", placeholder: "Enter your password" %>
    </div>
    <div class="mb-4">
      <%= f.label :title, class: "block text-gray-700 mb-2" %>
      <%= f.text_field :title, class: "w-full p-2 border rounded", placeholder: "Enter your display name", minlength: Rails.application.config.titles[:min_length], maxlength: Rails.application.config.titles[:max_length] %>
    </div>
    <div class="mb-4">
      <%= f.label :slug, class: "block text-gray-700 mb-2" %>
      <%= f.text_field :slug, class: "w-full p-2 border rounded", placeholder: "Enter your username", minlength: Rails.application.config.titles[:min_length], maxlength: Rails.application.config.titles[:max_length] %>
    </div>
    <%= f.submit "Sign Up", class: "w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-400" %>
  <% end %>
  <p class="mt-4 text-center text-gray-700">
    Already have an account? <%= link_to "Sign in", new_user_session_path, class: "text-blue-500 hover:underline" %>
  </p>
</div>
