<article class="bg-white p-4 rounded shadow hover:shadow-lg transition-shadow">
  <div class="flex items-center mb-4">
    <% if audio.image.attached? %>
      <%= image_tag audio.image.variant(:thumb), class: "mr-4", data: { title: audio.title } %>
    <% else %>
      <img src="https://placehold.co/100x100" alt="Audio Post Image" class="mr-4">
    <% end %>
    <div>
      <h3 class="font-bold text-lg"><%= link_to(audio.title, [audio.user, audio]) %></h3>
      <p class="text-gray-600"><%= link_to(audio.description&.truncate_words(70), [audio.user, audio]) %></p>
    </div>
  </div>
  <% if audio.tags.present? %>
    <div class="mt-2">
      <span class="text-sm text-gray-500">Tags: </span>
      <% audio.tags.each do |tag| %>
        <span class="inline-block bg-blue-200 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded"><%= tag %></span>
      <% end %>
    </div>
  <% end %>
  <div class="flex justify-between text-gray-500 mt-2">
    <div>
      <p>
        Posted by <%= link_to(audio.user.title, audio.user, class: "text-blue-500 hover:underline") %>
        <%= render "shared/time", time: audio.created_at %>
      </p>
    </div>
    <div class="flex space-x-2">
      <% if audio.converted? %>
        <span class="text-gray-500">⏳ <%= audio.human_duration %></span>
      <% end %>
      <span class="text-gray-500">❤️ <%= audio.comments_count %></span>
      <span class="text-gray-500">💬 <%= audio.comments_count %></span>
    </div>
  </div>
</article>
