<div class="bg-white p-4 rounded shadow hover:shadow-lg transition-shadow">
  <%= form_with(model: [current_user, audio]) do |f| %>
    <%= render "application/form_error", record: audio %>

    <div class="mb-4">
      <%= f.label :title, class: "block text-gray-700 mb-2" %>
      <%= f.text_field :title, class: "w-full p-2 border rounded", placeholder: "Enter the audio title", minlength: Rails.application.config.titles[:min_length], maxlength: Rails.application.config.titles[:max_length] %>
    </div>

    <div class="mb-4">
      <%= f.label :description, class: "block text-gray-700 mb-2" %>
      <%= f.text_area :description, class: "w-full p-2 border rounded", placeholder: "Enter a description" %>
    </div>

    <div class="mb-4">
      <% if audio.image.attached? %>
        <%= image_tag audio.image.variant(:cover), class: "w-64 h-64 object-cover rounded pr-4", data: { title: audio.title } %>
      <% end %>
      <%= f.label :image, class: "block text-gray-700 mb-2" %>
      <%= f.file_field :image, class: "w-full p-2 border rounded", accept: "image/*" %>
    </div>

    <div class="mb-4">
      <%= f.label :file, class: "block text-gray-700 mb-2" %>
      <%= f.file_field :file, class: "w-full p-2 border rounded", accept: "audio/*" %>
    </div>

    <%= f.submit "Save", class: "w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-400" %>
  <% end %>
</div>
