<h2 class="text-xl font-bold mb-4">Latest Audio Posts</h2>

<div class="space-y-4" id="audios">
  <%= render partial: "audios/audios/audio", collection: @audios %>
</div>

<%= turbo_frame_tag "pagination", src: root_path(format: :turbo_stream, page: 2), loading: :lazy %>
