<%= turbo_stream.append "audios" do %>
  <%= render @audios %>
<% end %>
<% if @pagy.next.present? %>
  <%= turbo_stream.replace "pagination" do %>
    <%= turbo_frame_tag "pagination", src: root_path(page: @pagy.next, format: :turbo_stream), loading: :lazy %>
  <% end %>
<% end %>
