<article class="bg-white p-6 rounded-lg shadow-lg mb-4 flex">
  <% if @audio.image.attached? %>
    <%= image_tag @audio.image.variant(:cover), class: "w-64 h-64 object-cover rounded pr-4", data: { title: @audio.title } %>
  <% else %>
    <img src="https://placehold.co/400x400" alt="<%= @audio.title %>" class="w-64 h-64 object-cover rounded pr-4">
  <% end %>
  <div class="flex-1">
    <h2 class="text-xl font-bold mb-2"><%= @audio.title %></h2>
    <div class="flex items-center justify-between mb-4">
      <span class="text-gray-600">
        Posted by <%= link_to(@audio.user.title, @audio.user, class: "text-blue-500 hover:underline") %>
        <%= render "shared/time", time: @audio.created_at %>
      </span>
      <div class="flex space-x-2">
        <% if @audio.converted? %>
          <span class="text-gray-600">⏳ <%= @audio.human_duration %></span>
        <% end %>
        <span class="text-gray-600">❤️ <%= @audio.likes_count %></span>
      </div>
    </div>
    <div class="text-gray-700 mb-4"><%= simple_format(auto_link(@audio.description)) %></div>
    <% if @audio.tags.present? %>
      <div class="mb-4">
        <span class="text-gray-600">Tags: </span>
        <% @audio.tags.each do |tag| %>
          <span class="inline-block bg-blue-200 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded"><%= tag %></span>
        <% end %>
      </div>
    <% end %>
    <% if user_signed_in? && @audio.user == current_user %>
      <div class="flex items-center justify-between mb-4">
        <%= link_to "Edit", edit_user_audio_path([current_user, @audio]), class: "text-blue-500 hover:underline" %>
      </div>
      <div class="flex items-center justify-between mb-4">
        <%= button_to "Delete this audio", [current_user, @audio], data: { turbo_confirm: "Are your sure?" }, method: :delete, class: "text-blue-500 hover:underline" %>
      </div>
    <% end %>
  </div>
</article>
<div class="bg-white p-6 rounded-lg shadow-lg mb-4">
  <h3 class="font-bold mb-2">Comments</h3>
  <%= render "comments/comments/form" if user_signed_in? %>
  <div class="mt-4">
    <%= turbo_frame_tag(@audio, "comments") do %>
      <%= render partial: "comments/comments/comment", collection: @comments %>
    <% end %>
    <%#= turbo_stream_from @audio, :comments %>
  </div>
</div>
