<div class="bg-white p-6 rounded-lg shadow-lg mb-4 flex">
  <% if @user.image.attached? %>
    <%= image_tag @user.image.variant(:cover), class: "w-64 h-64 object-cover rounded pr-4", data: { title: @user.title } %>
  <% else %>
    <img src="https://placehold.co/400x400" alt="<%= @user.title %>" class="w-64 h-64 object-cover rounded pr-4">
  <% end %>
  <div class="flex-1">
    <h2 class="text-xl font-bold mb-2"><%= @user.title %></h2>
    <div class="flex items-center justify-between mb-4">
      <% if @user.location.present? %>
      <span class="text-gray-600">
        Location: <%= @user.location %>
      </span>
      <% end %>
    </div>
    <% if @user.description.present? %>
      <div class="text-gray-700 mb-4"><%= simple_format(auto_link(@user.description)) %></div>
    <% end %>
    <% if user_signed_in? && @user == current_user %>
      <div class="flex items-center justify-between mb-4">
        <%= link_to "Edit my profile", edit_user_registration_path(current_user), class: "text-blue-500 hover:underline" %>
      </div>
    <% end %>
    <div class="flex items-center justify-between mb-4">
      <%= link_to("#{@user.title}'s audios", @user, class: "text-blue-500 hover:underline") %>
    </div>
    <div class="flex items-center justify-between mb-4">
      <%= link_to("#{@user.title}'s playlists", user_playlists_path(user_id: @user), class: "text-blue-500 hover:underline") %>
    </div>
  </div>
</div>
