<%= turbo_stream.append "audios" do %>
  <%= render partial: "audios/audios/audio", collection: @audios %>
<% end %>
<% if @pagy.next.present? %>
  <%= turbo_stream.replace "pagination" do %>
    <%= turbo_frame_tag "pagination", src: user_path(@user, page: @pagy.next, format: :turbo_stream), loading: :lazy %>
  <% end %>
<% end %>
