<%= render "profile", user: @user %>

<div class="space-y-4" id="audios">
  <%= render partial: "audios/audios/audio", collection: @audios %>
</div>

<%= turbo_frame_tag "pagination", src: user_path(@user, format: :turbo_stream, page: 2), loading: :lazy %>
