<h2 class="text-xl font-bold mb-4">Change Your Password</h2>
<div class="bg-white p-4 rounded shadow hover:shadow-lg transition-shadow">
  <%= form_for(resource, url: user_password_path, html: { method: :put, data: { turbo: false } }) do |f| %>
    <%= render "application/form_error", record: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="mb-4">
      <%= f.label :password, class: "block text-gray-700 mb-2" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "w-full p-2 border rounded", placeholder: "Enter your password" %>
    </div>
    <div class="mb-4">
      <%= f.label :password_confirmation, class: "block text-gray-700 mb-2" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline", placeholder: "Confirm your password" %>
    </div>
    <%= f.submit "Change My Password", class: "w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-400" %>
  <% end %>
</div>
