<h2 class="text-xl font-bold mb-4">Forgot your password?</h2>
<div class="bg-white p-4 rounded shadow hover:shadow-lg transition-shadow">
  <%= form_for(resource, url: user_password_path, html: { method: :post, data: { turbo: false } }) do |f| %>
    <%= render "application/form_error", record: resource %>

    <div class="mb-4">
      <%= f.label :email, class: "block text-gray-700 mb-2" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full p-2 border rounded", placeholder: "Enter your email" %>
    </div>
    <%= f.submit "Send Password Reset Info", class: "w-full bg-blue-500 text-white p-2 rounded hover:bg-blue-400" %>
  <% end %>
</div>
