<% if flash.any? %>
  <% flash.each do |type, message| %>
    <div class="border px-4 py-3 mb-2 rounded relative <%= flash_color_classes(type) %>" role="alert" data-controller="alert">
      <span class="block sm:inline"><%= message %></span>
      <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
        <svg class="fill-current h-6 w-6 <%= flash_color_cross(type) %>" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" data-action="click->alert#close">
          <title>Close</title>
          <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/>
        </svg>
      </span>
    </div>
  <% end %>
<% end %>
