<footer class="bg-white shadow-lg p-4">
  <div class="flex items-center justify-between">
    <span class="text-gray-600">Now Playing: Song Title</span>
    <div class="flex items-center space-x-4">
      <button class="bg-blue-500 text-white p-2 rounded hover:bg-blue-400">
        <i class="iconoir-play"></i>
      </button>
      <button class="bg-blue-500 text-white p-2 rounded hover:bg-blue-400">
        <i class="iconoir-pause"></i>
      </button>
      <button class="bg-blue-500 text-white p-2 rounded hover:bg-blue-400">
        <i class="iconoir-stop"></i>
      </button>
    </div>
  </div>
</footer>
