<header class="bg-white shadow-lg p-4 flex justify-between items-center" data-controller="header">
  <div class="flex items-center space-x-4">
    <h1 class="text-2xl font-bold">
      <%= link_to "Talawa", root_path %>
    </h1>
    <div class="relative">
      <input type="text" placeholder="Search..." class="p-2 border rounded">
    </div>
  </div>
  <div class="flex items-center space-x-4">
    <% if user_signed_in? %>
      <%= link_to "+ Upload", new_user_audio_path(current_user), class: "px-4 py-2 text-gray-700 hover:bg-gray-200" %>
      <%= render "notifications" %>
      <div class="relative">
        <button class="flex items-center" data-action="click->header#toggleDropdown">
          <%= render "users/shared/avatar", user: current_user if user_signed_in? %>
        </button>
        <div id="dropdown" class="absolute right-0 mt-2 w-48 bg-white shadow-lg rounded hidden z-10">
          <%= link_to "My Account", edit_user_registration_path, class: "block px-4 py-2 text-gray-700 hover:bg-gray-200" %>
          <%= link_to "My Playlists", user_playlists_path(current_user), class: "block px-4 py-2 text-gray-700 hover:bg-gray-200" %>
          <%= link_to "Log Out", destroy_user_session_path, class: "block px-4 py-2 text-red-600 hover:bg-red-200", data: { turbo: false } %>
        </div>
      </div>
    <% else %>
      <%= link_to "+ Upload", user_session_path, class: "px-4 py-2 text-gray-700 hover:bg-gray-200" %>
    <% end %>
  </div>
</header>
