<div class="relative">
  <button class="text-gray-700 hover:text-gray-900" data-action="click->header#toggleNotifications">
    <i class="iconoir-bell text-2xl"></i>
    <span class="absolute top-0 right-0 bg-red-500 text-white text-xs rounded-full px-1">3</span>
  </button>
  <div class="absolute right-0 mt-2 w-64 bg-white shadow-lg rounded hidden" id="notifications">
    <ul>
      <li class="flex items-center p-2 hover:bg-gray-200">
        <a href="#" class="flex items-center w-full">
          <i class="iconoir-message text-xl mr-2"></i>
          <span>New message received</span>
        </a>
      </li>
      <li class="flex items-center p-2 hover:bg-gray-200">
        <a href="#" class="flex items-center w-full">
          <i class="iconoir-user text-xl mr-2"></i>
          <span>New follower</span>
        </a>
      </li>
      <li class="flex items-center p-2 hover:bg-gray-200">
        <a href="#" class="flex items-center w-full">
          <i class="iconoir-heart text-xl mr-2"></i>
          <span>Your post was liked</span>
        </a>
      </li>
    </ul>
    <a href="#" class="block text-center text-blue-500 hover:underline py-2">See more notifications</a>
  </div>
</div>
