<aside class="bg-white w-64 p-4 border-r overflow-y-auto">
  <h2 class="font-bold mb-4">Navigation</h2>
  <ul>
    <li class="mb-2">
      <%= link_to root_path, class: "flex items-center p-2 hover:bg-gray-200 rounded" do %>
        <i class="iconoir-home text-xl"></i>
        <span class="ml-2">Home</span>
      <% end %>
    </li>
    <li class="mb-2">
      <% if user_signed_in? %>
        <%= link_to edit_user_registration_path, class: "flex items-center p-2 hover:bg-gray-200 rounded" do %>
          <i class="iconoir-user text-xl"></i>
          <span class="ml-2">Edit profile</span>
        <% end %>
      <% else %>
        <%= link_to new_user_registration_path, class: "flex items-center p-2 hover:bg-gray-200 rounded" do %>
          <i class="iconoir-user-plus text-xl"></i>
          <span class="ml-2">Sign Up</span>
        <% end %>
      <% end %>
    </li>
    <li class="mb-2">
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, class: "flex items-center p-2 hover:bg-gray-200 rounded", data: { turbo: false } do %>
          <i class="iconoir-log-out text-xl"></i>
          <span class="ml-2">Log Out</span>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path, class: "flex items-center p-2 hover:bg-gray-200 rounded" do %>
          <i class="iconoir-log-in text-xl"></i>
          <span class="ml-2">Sign In</span>
        <% end %>
      <% end %>
    </li>
  </ul>
</aside>
