<!DOCTYPE html>
<html lang="en" class="size-full">
<head>
  <title>Talawa</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= vite_client_tag %>
  <%= vite_stylesheet_tag "application", data: { "turbo-track": "reload" } %>
  <%= vite_javascript_tag "application" %>
  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" %>
</head>

<body class="bg-gray-100 font-sans leading-normal tracking-normal h-screen flex flex-col">
  <%= render "application/header" %>

  <div class="flex flex-1 overflow-hidden">
    <%= render "application/sidebar" %>

    <main class="flex-1 p-4 overflow-y-auto">
      <%= render "application/alerts" %>

      <%= yield %>
    </main>
  </div>

  <%= render "application/footer" %>
</body>
</html>
